
body {
  background-color: var(--bs-dark);
  color: var(--bs-gray-100);
  margin: 16px;
}

a {
  color: silver
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
